<!-- Footer  -->
<footer class="container-fluid py-5 bg-tertiary">
  <section class="container">
    <div class="row">
      <div class="col-12 col-md">
        <img class="img-responsive d-inline-block align-top" height="50px"
        src="{{ site.data.general.logo | relative_url }}" alt="">
        <span> {{ site.data.general.footer }} </span>
      </div>
      <div class="col-6 col-md">
        {{ site.data.general.number.greeting }}
      </div>
      <div class="col-6 col-md">
        {% assign number = site.data.general.number %}
        {% if number %}
            <p class="text lead">
              {{ number.text }}
              <a class="number" href="{{ number.link }}">{{ number.link }}</a>
            </p>
        {% endif %}
      </div>
  </section>
</footer>
