// Import Bootstrap functions
@import "~bootstrap/scss/functions";

// Variables
$theme-colors: (
  primary: #83C9F4,
  secondary: #284b63,
  tertiary: #D9F0FF,
  grey: #e1e1e1,
);

$primary-font-family: 'Alegreya', sans-serif;
$font-family-base: 'Alegreya', sans-serif;
$font-family-second: 'Muli', Open-san, sans-serif;

// Fonts
$font-size-sm: 1rem;

// header sizes
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 0.95rem;
$h5-font-size: 0.8rem;
$font-weight-base: 100;

// Cards
$card-border-radius: 3;

// Buttons
$btn-font-family: $font-family-base;
$btn-font-weight: 600;
$btn-font-size: 0.4rem;
$btn-border-radius: 0.2rem;

// headers
$h3-font-size: 1.4rem;
